html {
  font-size: 225%;
}

body {
  color: #333;
  background-color: #45a173;
  background-image: url(../images/table.png);
  font-family: 'Open Sans', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.card {
  margin: 10px;
  position: relative;
}
